// Define variables for your color scheme

// For example:
$red: #9e5058;
$blue: #666ba3;
$yellow: #f7ed60;
$orange: #e88e40;
$green: #89d66f;
$gray: #616668;
$light-gray: #e5e5e5;
$lighter-gray: #f7f7f7
